/do_not_upload/
/docs/
/sql/
/.buildpath
/.project
/upload/cache/*
/upload/cache/comments/*
/upload/cache/userfeeds/*
/upload/filesconversion_queue/*.*
/upload/files/logs/20*
/upload/files/mass_uploads/*.*
#/upload/files/original/*.*
/upload/files/photos/20*
/upload/files/temp/*
/upload/files/thumbs/20*
/upload/files/videos/20*
#/upload/images/*.*
#/upload/images/avatars/*.*
#/upload/images/backgrounds/*.*
#/upload/images/category_thumbs/*.*
#/upload/images/collection_thumbs/*.*
#/upload/images/groups_thumbs/*.*
dbconnect.php