/do_not_upload/
/docs/
/sql/
/.buildpath
/.project

/upload/cache/*
/upload/cache/comments/*
/upload/cache/userfeeds/*

/upload/filesconversion_queue/*.*
/upload/files/logs/20*
/upload/files/mass_uploads/*.*
/upload/files/photos/20*
/upload/files/temp/*
/upload/files/thumbs/*
/upload/files/videos/20*
/upload/files/thumbs.disciplines
/upload/files/documents
dbconnect.php
development.dev
.directory
/upload/plugins/cb_server_thumb/cache/*
