<footer id="footer">
	  <div class="footercont bgcolor2">
		  <div class="grid fgwhite">
		    <div class="col-1-3 utcidcard">
<!---->
				<h3>UTC</h3>
				<span class="lead">Université de technologie <br> de compiègne</span>
				<p>
				<adress>
					Rue du docteur Schweitzer CS 60319, <br>
					60203 COMPIEGNE Cedex France <br>
					Tél : +33 3 44 23 44 23
				</adress>
			  <div class="col-sm-6"><p><a href="venir-a-lutc.html" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Venir à l'UTC</a></p></div>
					
			  <div class="col-sm-6"><p><a href="fileadmin/user_upload/SITE-UTC/documents/UTC/PlanCompletUTC.pdf" class="link"><i class="fa fa-map" aria-hidden="true"></i>Plan d'accès</a></p></div>
				</p>

<!---->
		    </div>
		    <div class="col-2-3">
				  <h3>Vidéos par thèmes</h3>
				  &nbsp;
		      <div class="grid">
		        <div class="col-1-2">
		         <pre>
Vie de l’Université
L’innovation
L’UTC à l’international
Portraits d’utécéens
Les grands axes de recherche
		          </pre>
		        </div>
		        <div class="col-1-2">
		         <pre>
La formation 
Remise des diplômes et parrains
Missions et valeurs de l’UTC
Ces thèses qui changent la vie
		          </pre>
		        </div>
		      </div>
		      <span class="dedicacedev">Le développement de ce site et la réalisation de certaines des vidéos qu'il contient ont bénéficié du soutien de :</span>
				  <div class="logos">
	     			<a class="feder" href="http://www.picardie-europe.eu/les-programmes-operationnels/feder.html" title="L'europe s'engage en Picardie avec le FEDER"><img src="{$baseurl}/styles/webtv2/theme/images/feder.png" alt="L'europe s'engage en Picardie avec le FEDER"></a>
     				<a class="europe" href="http://europa.eu/index_fr.htm" title="L'europe"><img src="{$baseurl}/styles/webtv2/theme/images/euro.png" alt="L'Europe"></a>
            <a class="prefecture" href="http://www.picardie.pref.gouv.fr/" title="Préfet de la région Picardie"><img src="{$baseurl}/styles/webtv2/theme/images/mini.png" alt="Préfet de la région Picardie"></a>
     				<a class="region" href="http://www.picardie.fr/" title="Région - Picardie"><img src="{$baseurl}/styles/webtv2/theme/images/regio.png" alt="Picardie, la région"></a>
     				<a class="unr" href="http://unr.picardie.fr/" title="Université Numérique en Région - Picardie"><img src="{$baseurl}/styles/webtv2/theme/images/unr.png" alt="UNR Picardie"></a>
   			  </div>
				  <span class="dedicacecb">#ClipBucket#</span>
		    </div>
		  </div>
		</div>
		<div class="bottomfooter">
		  <div class="grid">
		    <div class="col-1-1">
						<ul class="partner logos list-unstyled list-inline">
						<li><a href="http://www.sorbonne-universites.fr/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/sorbonne-logo-1.png" alt="Sorbonne universités"></a></li>
						<li><a href="http://www.paris-sorbonne.fr/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/sorbonne-logo-2.png" alt="Sorbonne université"></a></li>
						<li><a href="http://www.upmc.fr/fr/index.html" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/upmc-logo.png" alt="UPMC Sorbonne universités"></a></li>
						<li><a href="//www.utc.fr"><img src="{$baseurl}/styles/webtv2/theme/images/utc-footer-logo.png" alt="UTC - Université de technologie Compiègne"></a></li>
						<li><a href="http://www.insead.edu/home/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/insead-logo.png" alt="INSEAD - The buiseness school for the world"></a></li>
						<li><a href="http://www.mnhn.fr/fr" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/museum-logo.png" alt=""></a></li>
						<li><a href="http://www.pspbb.fr/fr/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/partner-logo.png" alt=""></a></li>
						<li><a href="http://www.cnrs.fr/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/cnrs-logo.png" alt="CNRS"></a></li>
						<li><a href="http://www.inserm.fr/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/inserm-logo.png" alt="INSERM - Insitut national de la santé et de recherche medical"></a></li>
						<li><a href="https://www.ird.fr/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/ird-logo.png" alt="IRD - Insittut de recherche pour le développement"></a></li>
						<li><a href="http://www.inria.fr/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/inria-logo.png" alt="INRIA - Inventeurs du monde numérique"></a></li>
						<li><a href="http://www.ciep.fr/" target="_blank"><img src="{$baseurl}/styles/webtv2/theme/images/partner-2.png" alt=""></a></li>
					</ul>
		    </div>
		  </div>
		</div>
</footer>
