{ANCHOR place="play_front_anchor"}

<footer id="footer" class="clearfix">
	{$Cbucket->footer()}
			<!--
	<div class="container">
		<div class="footer-holder">
			<ul class="footer-links column">
				{*$foot_menu=foot_menu()*}
				{foreach from=$foot_menu item=fm}
				{if $fm.name!=''}
					<li><a href="{$fm.link}" {if $fm.target} target="{$fm.target}"{/if} {if $fm.onclick} onclick="{$fm.onclick}" {/if}>{$fm.name}</a></li>
				{/if}
				{/foreach}
			</ul>
			<div class="lang_wrapper column">
				{if config("allow_language_change")}
				{$langs = $lang_obj->get_langs('yes')}
				{$total_langs = count($langs)}
				{if $total_langs >= 2}
					<div class="langdrop dropup">
					<button class="btn btn-default dropdown-toggle" id="cblang-selector" type="button" data-toggle="dropdown">
						<span>{$lang_obj->lang_name}</span>
						<i class="icon-down-arrow"></i>
					</button>
					<ul class="dropdown-menu">
						{foreach $langs as $lang}
							{if $lang_obj->lang == $lang.language_code}
								{$selected = "selected" }
							{else}
								{$selected = "" }
							{/if}
							<li data-lang="{$lang.language_code}" class="pick-lang {$selected}"><a href="javascript:void(0);">{$lang.language_name}</a></li>
						{/foreach}
				 	</ul>
				</div>
				{/if}
				{/if}
			</div>
			<div class="copyright-poweredby column">
				<span>#ClipBucket#</span>
			</div>
		</div>
	</div>
			-->

	
	<div id="pied_page">

		<div id="pied_page_rubriques">

			<div>
				<h3 data-unfold-trigger="1409658933682">WebTV</h3>
				<ul data-unfold-target="1409658933682">
				<!-- <ul class="footer-links column"> -->
					{$foot_menu=foot_menu()}
					{foreach from=$foot_menu item=fm}
					{if $fm.name!=''}
						<li><a href="{$fm.link}" {if $fm.target} target="{$fm.target}"{/if} {if $fm.onclick} onclick="{$fm.onclick}" {/if}>{$fm.name}</a></li>
					{/if}
					{/foreach}
				</ul>
			</div>
			
<!--
			<div>
				<h3 data-unfold-trigger="1409658933682">Outils</h3>
				<ul data-unfold-target="1409658933682">
					<li>
						<a href="https://www.u-picardie.fr/outils/contact/">@contact</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/outils/plans-d-acces/">plans d'accès</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/outils/annuaire/">annuaire</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/outils/plan-du-site/">plan du site</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/outils/flux-rss/">flux RSS</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/outils/wifi/">Wifi</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/outils/ent/">ENT</a>
					</li>
				</ul>
			</div>
-->

			<div>
				<h3 data-unfold-trigger="1409658995683">Accès</h3>
				<ul data-unfold-target="1409658995683">
					<li>
						<a href="https://www.u-picardie.fr/acces/achats-marches/">Achats &amp; Marchés</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/acces/actes-reglementaires/">Actes réglementaires</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/acces/fondation/">Fondation</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/acces/boutique/">Boutique</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/acces/inscriptions/">Inscriptions</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/acces/offre-de-stages-emplois/">Offre de stages/emplois</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/acces/recrutements/">Recrutements</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/acces/logo-upjv/">Logo UPJV</a>
					</li>
				</ul>
			</div>

			<div>
				<h3 data-unfold-trigger="1409659031609">Dossiers</h3>
				<ul data-unfold-target="1409659031609">
					<li>
						<a href="https://www.u-picardie.fr/dossiers/citadelle/">Citadelle</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/dossiers/contrat-pluriannuel/">Contrat pluriannuel</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/dossiers/developpement-durable/">Développement durable</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/dossiers/entrepreneuriat-etudiant/">Entrepreneuriat Étudiant</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/dossiers/egalite-des-chances/">Égalité des chances</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/dossiers/handicap/">Handicap</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/dossiers/parite/">Parité</a>
					</li>
				</ul>
			</div>

			<div>
				<h3 data-unfold-trigger="1409659074677">Réseaux</h3>
				<ul data-unfold-target="1409659074677">
					<li>
						<a href="https://www.u-picardie.fr/reseaux/association-picardie-universites/">Association Picardie Universités</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/reseaux/federations-de-recherche/">Fédérations de recherche</a>
					</li>
					<li>
						<a href="https://www.u-picardie.fr/reseaux/satt-nord/">SATT NORD</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- #pied_page_rubriques -->

		
		<p id="pied_page_logos">
			<a title="(Nouvelle fenêtre)" href="https://www.u-picardie.fr/">
				<img src="{$theme}/images/logo-UPJV.png">
			</a>
		</p>

<!--
		<center id="menu_pied_page">
			Université de Picardie Jules Verne – Chemin du Thil, 80000 Amiens&nbsp;|&nbsp;
			<a href="https://www.u-picardie.fr/mentions-legales/">mentions légales</a>&nbsp;|&nbsp;
			<a href="https://www.u-picardie.fr/prive/">privé</a>&nbsp;|&nbsp;
			<a href="https://www.u-picardie.fr/nous-contacter/">nous contacter</a>&nbsp;|&nbsp;
			Tél. : 03 22 82 89 89
		</center>
 -->		
		

		<ul id="menu_pied_page">
			<li><address>Université de Picardie Jules Verne – Chemin du Thil, 80000 Amiens</address></li>
			<li><a href="https://www.u-picardie.fr/mentions-legales/">mentions légales</a></li>
			<li><a href="{$baseurl}/admin_area">privé</a></li>
			<li><a href="https://www.u-picardie.fr/nous-contacter/">nous contacter</a></li>
			<li>Tél. : 03 22 82 89 89</li>
		</ul>

		<div id="pied_page_retour">
			<span aria-hidden="true" class="glyphicon glyphicon-arrow-up"></span> <a href="#page">Haut de page</a>
		</div>
		<!-- #retour_debut_ecran -->

	</div>
	<!-- #pied_page -->

</footer>











<script type="text/javascript" src="{$baseurl}/js/photos.js"></script>
<script>
	$(document).on('click','.pick-lang',function(){
		var _this = $(this);
		var lang_code = _this.data('lang');
		var $currentLocation = window.location.href,
		matchedElement = $currentLocation.match(/\?/);
			  
		if(matchedElement == null)
		{
			window.location = "?set_site_lang="+lang_code;    
		} else {
			window.location = window.location+"&set_site_lang="+lang_code;    
		}
	});

	$(document).on('click','#cbsearch',function(e){
		e.preventDefault();
		searchForm = $('.search-form');
		searchQuery = $('#query').val();
		queryLen = searchQuery.length;
		if (queryLen <= 2) {
			msg = 'Search query<strong> '+searchQuery+'</strong> is too short. Open up!';
			_cb.throwHeadMsg('warning', msg, 3000,true);
			//alert("Search term is too short");
		} else {
			$('.search-form').submit();
		}
	});

	$('.dropdown-menu li').on('click',function(){
		var searchType = $('#searchTypes').find('span.search-type').html();
		var searchQuery = $('input#query').val();
		if (searchQuery.length > 1) {
			$('#cbsearch').trigger('click');
		}
	});



</script>
{$Cbucket->footer()}
