{$myAccountLinks = $userquery->my_account_links()}
<div class="container marginBottom">
    <div id="simple_search" class="marginBottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="heading">{$search_type_title}</div>
                <hr>
                {if $results}
                {foreach item=result from=$results}
                {assign var=$template_var value =$result}
                {include file="$display_template" }
                {/foreach}
                {else}
                {lang code='no_results_found'}
                {/if}
            </div>
        </div>
        {include file="$style_dir/blocks/pagination.html"}
    </div>

</div>

<script>
    $(document).ready(function(){
        $("#cbsearchtype a").on({
            click: function(e){
            e.preventDefault();
            var searchtype = $("#SearchType").val();
            var buttonText = $(this).text().toLowerCase();
            if($("#SearchType option[value='"+ buttonText +"']").length > 0){
                $("#SearchType option:selected").removeAttr("selected");
                $("#SearchType option[value='"+ buttonText +"']").attr("selected" , "selected");
                $(this).parents("ul").find(".active").removeClass("active");
                $(this).parent().addClass("active");

            }
        }
        });

    });

</script>